<div data-role="header" data-position="fixed" data-tap-toggle="false">		
	<h2>Create Reserve</h2>
	<a href="#" data-slidemenu="#slidemenu" data-slideopen="false" data-icon="smico" data-corners="false" data-iconpos="notext">Menu</a>
	<a href="#" data-icon="back" class="back" data-iconpos="notext">Back</a>
</div>		
<div data-role="content">
	<form id="frm" action="#" method="get">	
	<div data-role="fieldcontain">		
		<label for="numPeople"><b>People</b></label>
		<input type="range" id="numPeople" value="<%= model.get('numPeople') %>" min="0" max="10" />
	</div>	
	<div data-role="fieldcontain">
		<fieldset data-role="controlgroup" data-type="horizontal">
			<legend><b>Reserve Date</b></legend>
			<label for="date-year">Year</label>
			<select id="date-year">
				<option value="">YY</option>
				<option value="2012">2012</option>
				<option value="2011">2011</option>
			</select>
			<label for="date-month">Month</label>
			<select id="date-month">
				<option value="">MM</option>
				<option value="1">Jan</option>				
				<option value="2">Feb</option>
				<option value="3">Mar</option>
				<option value="4">Apr</option>
				<option value="5">May</option>
				<option value="6">Jun</option>
				<option value="7">Jul</option>
				<option value="8">Aug</option>
				<option value="9">Sep</option>
				<option value="10">Oct</option>
				<option value="11">Nov</option>
				<option value="12">Dec</option>
			</select>
	
			<label for="date-day">Day</label>
			<select id="date-day">
				<option value="">DD</option>
			</select>			
		</fieldset>
	</div>
	<div data-role="fieldcontain">
	    <label for="store"><b>Store</b></label>	    
		<select id="store">
			<option value="0">Select Store</option>
			<option value="1">Galerias</option>
			<option value="2">Nicolas Federman</option>
		</select>
	</div>
	<a class="save" href="#reserves" data-role="button" data-icon="check">Save Reserve</a>
	</form>
</div>