<div data-role="header" data-position="fixed" data-tap-toggle="false">
	<h2>Reserve</h2>
	<a href="#" data-slidemenu="#slidemenu" data-slideopen="false" data-icon="smico" data-corners="false" data-iconpos="notext">Menu</a>
	<a href="#" data-icon="back" class="back" data-iconpos="notext">Back</a>
</div>
<div data-role="content">	
	<p><b>Store: </b><%= model.get('store').name %></p>
	<p><b>Date: </b><%= model.get('date_format') %></p>
	<p><b>People: </b><%= model.get('numPeople') %></p>
	<div style="text-align:center;">
	<a class="inviteFriend" href="#" data-role="button" data-inline="false" data-icon="star">Invite a Friend</a>
	<a class="reserveDelete" href="#" data-role="button" data-inline="false" data-icon="delete">Delete Reserve</a>
	</div>
</div>