<div data-role="header" data-position="fixed" data-tap-toggle="false">
	<h2>Stores</h2>
	<a data-slidemenu="#slidemenu" data-slideopen="false" data-icon="smico" data-corners="false" data-iconpos="notext">Menu</a>
	<a href="#" data-icon="back" class="back" data-iconpos="notext">Back</a>
</div>

<div data-role="content">
	<ul id="storeList" data-role="listview" data-inset="true" data-filter="true">
		<% model.each(function(item) { %>
			<li><a href="#stores/<%= item.id %>"><img src="img/<%= item.get('image') %>"/><h1><%= item.get('name') %></h1><p><%= item.get('address') %></p></a></li>
      	<% }); %>
	</ul>
</div>