<div data-role="header" data-position="fixed" data-tap-toggle="false">
	<h2>Stores</h2>
	<a href="#" data-slidemenu="#slidemenu" data-slideopen="false" data-icon="smico" data-corners="false" data-iconpos="notext">Menu</a>
	<a href="#" data-icon="back" data-rel="back" data-iconpos="notext">Back</a>
</div>

<div data-role="content">
	<ul id="storeList" data-role="listview" data-inset="true" data-filter="true">
		<li><a href="#detailStore"><img src="img/noimage.png"/><h1>Galerias</h1><p>Sucursal Direccion</p></a></li>
		<li><a href="#detailStore"><img src="img/noimage.png"/><h1>Nicolas de Federman</h1><p>Sucursal Direccion</p></a></li>
		<li><a href="#detailStore"><img src="img/noimage.png"/><h1>Pablo VI</h1><p>Sucursal Direccion</p></a></li>
	</ul>
</div>