<div data-role="header" data-position="fixed" data-tap-toggle="false">
	<h2>Store</h2>
	<a href="#" data-slidemenu="#slidemenu" data-slideopen="false" data-icon="smico" data-corners="false" data-iconpos="notext">Menu</a>
	<a href="#" data-icon="back" class="back" data-iconpos="notext">Back</a>
</div>
<div data-role="content">
	<img src="img/<%= model.get('image') %>" width="150" height="150"/>
	<p><b>Name: </b><%= model.get('name') %></p>
	<p><b>Phone: </b><%= model.get('phone') %></p>
	<p><b>Address: </b><%= model.get('address') %></p>
	<a id="call" href="#" data-role="button" data-icon="info">Call Store</a>				
</div>